<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="homepage/js/jquery-3.3.1.min.js"></script>
<script src="homepage/js/bootstrap.min.js"></script>
<script src="homepage/js/style.js"></script>
