<html>
  <head>
    <title>Set up database</title>
    <% include ./partials/css.ejs %> <% include ./partials/scripts.ejs %>
  </head>
  <body>
    <button id="btnClearOldData">Clear old data be for setup</button>
    <button id="btnSetup">Start to setup</button>
    <div id="datafromserver">data from server: ...</div>

    <script src="/adminpage/js/sb-admin-2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io.connect("<%- domain %>");

      $("#btnSetup").click(function() {
        socket.emit("admin-send-setupdatabase", "Let setup database");
        $("#datafromserver").text("data from server: in grogress");
      });

      $("#btnClearOldData").click(function() {
        socket.emit("admin-send-cleardatabase", "Let clear database");
        $("#datafromserver").text("data from server: in grogress");
      });

      // receive signal from server
      socket.on("server-send-ACKsetup", function(data) {
        $("#datafromserver").text("data from server: " + data + " setup");
      });

      socket.on("server-send-ACKclear", function(data) {
        $("#datafromserver").text("data from server: " + data + " clear");
      });
    </script>
  </body>
</html>
