<!DOCTYPE html>
<html lang="en">
  <% include ./partials/css%>
  <body>
    <div class="container-fluid">
      <div class="row question hidden-xs hidden-sm hidden-md">
        <div class="col-md-12 hidden-xs">
          <div id="question" class="text-center">
            <p>Which Apollo mission was the first one the land on the moon ?</p>
          </div>
        </div>
      </div>
      <!-- end row question -->
      <div class="background-layer">
        <div class="row content">
          <div class="col-md-3 clock-time">
            <div class="clock">
              <div class="timer" onclick="timerClick()">
                <h1 id="countdown-heading">Time</h1>
                <h1 id="countdown">01&#58;00</h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 post-content hidden-xs hidden-sm hidden-md">
            <div class="post-question">
              <div class="bg-question">
                <button class="btn-question">
                  <span class="icon-new"><i class="fas fa-circle"></i></span>
                </button>
                <button class="btn-question">
                  <span class="icon-new"><i class="fas fa-square"></i></span>
                </button>
                <button class="btn-question">
                  <span class="icon-new"><i class="fas fa-apple-alt"></i></span>
                </button>
                <button class="btn-question">
                  <span class="icon-new"><i class="fas fa-mountain"></i></span>
                </button>
              </div>
              <div id="show-answer">
                Đáp án là A
              </div>
            </div>
          </div>

          <div class="col-md-3 hidden-xs hidden-sm hidden-md">
            <div class="team-answer">
              <button
                class="btn btn-success"
                id="next-show"
                style="width:100px"
              >
                Show
              </button>
              <div class="count-team-answer">13/30</div>
              <div class="fixed-answer">Answers</div>
            </div>
          </div>
        </div>
        <!-- end row content -->
        <div class="row answer">
          <div class="col-xs-6 col-md-6 post-answer">
            <div class="item">
              <div class="answerA">
                <input
                  id="answer_1"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_1">
                  <span class="icon"><i class="fas fa-circle"></i></span>
                  <span class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo1</span
                  >
                </label>
              </div>
            </div>
            <div class="item">
              <div class="answerB">
                <input
                  id="answer_2"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_2">
                  <span class="icon"><i class="fa fa-square"></i></span>
                  <span class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo2</span
                  >
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 post-answer">
            <div class="item">
              <div class="answerC">
                <input
                  id="answer_3"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_3">
                  <span class="icon"><i class="fas fa-apple-alt"></i></span>
                  <span class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo3</span
                  >
                </label>
              </div>
            </div>
            <div class="item">
              <div class="answerD">
                <input
                  id="answer_4"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_4">
                  <span class="icon"><i class="fas fa-mountain"></i></span>
                  <span class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo4</span
                  >
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- end row answer
		 -->
      </div>
      <!-- end background layer -->
      <div class="row submit">
        <div class="col-xs-12 col-sm-12 hidden-lg text-center">
          <button class="btn-info" onClick=>Submit</button>
        </div>
      </div>
    </div>
    <!-- end container-fluid -->
  </body>
  <% include ./partials/scripts%>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io.connect("<%- domain %>");

    setInterval(() => {
      socket.emit('check', {id: '<%- id %>'})
    }, 2000)

    // receive signal from server
    socket.on("server-send-getinformation", function(data) {
      data = socket.id + ",middleled";
      socket.emit("client-send-information", data);
    });

    socket.on("server-send-question_<%- id %>", function(data) {
      console.log(data)
      alert(data.content);      

      let content = data.split("#");
      $("#question").text(content[2]);
      $("#questionId").text(content[1]);
      $("#answer").text("");
      $("#countdown").text("5");

      // Change img.src if the question have an image
      if (content[7] != "<blank>") {
        $("#imageframe").show();
        $("#imageframe").attr("src", content[7]);
      } else {
        $("#imageframe").hide();
      }

      // Change audio.src if the question have an image
      if (content[8] != "<blank>") {
        $("#audioframe").show();
        $("#audioframe").attr("src", content[8]);
      } else {
        $("#audioframe").hide();
      }

      // Show option if question type is "tracnghiem"
      if (content[0] === "tracnghiem") {
        $("#lblOptionA").show();
        $("#lblOptionB").show();
        $("#lblOptionC").show();
        $("#lblOptionD").show();

        $("#optionA").text(content[3]);
        $("#optionB").text(content[4]);
        $("#optionC").text(content[5]);
        $("#optionD").text(content[6]);
      } else {
        $("#lblOptionA").hide();
        $("#lblOptionB").hide();
        $("#lblOptionC").hide();
        $("#lblOptionD").hide();
      }
    });

    socket.on("server-send-showanswer", function(data) {
      $("#answer").text("answer: " + data);
    });
    
    socket.on("server-start-Timer_<%- id %>", function(data) {
      let countdown = 5;
      alert(data)
      let runTimer = setInterval(function() {
        countdown = countdown - 1;
        $("#countdown").text(countdown);

        if (countdown < 1) {
          clearInterval(runTimer);
        }
      }, 1000);
    });

    socket.on("server-send-show-answer_<%- id %>", function(data) {
      alert(data)
    });

    socket.on("server-send-show-help_<%- id %>", function(data) {
      alert(data)
    });

    socket.on("server-stop-Timer_<%- id %>", function(data) {
        alert("SERVER_STOP_TIMER")
    });

    socket.on("server-send-supportPlayers", function(data) {
      alert(data);
    });
  </script>
</html>
