.page-footer{
    background-color: black;   
}
body{
    margin: 0;
    padding: 0;
    font-family:Verdana;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 30px;
    transition: .3s;
    font-weight: 2000;

}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li {
    list-style: none;
    margin: 0px 3px;
}
nav ul li a{
    position: relative;
    line-height: 80px;
    color: rgb(136, 57, 57);
    padding: 12px 30px;
    text-transform: uppercase;
    transition: .3;
    letter-spacing: 2px;
    text-align: center;
    transition: .5s;
}
nav ul li a:link{
    text-decoration: none;
}
nav ul li a:focus{
    outline: none;
} 
nav ul li a:hover{
    color: #262600;
} 
nav.black ul li a:before{
    content: '';
    background: #fff;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition:  transform .5s;
}
nav.black ul li a:after{
    content: '';
    background: #fff;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition:  transform .5s;
 }

nav ul li a:before{
   content: '';
   background: #262626;
   color: #fff;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   transform: scaleX(0);
   transform-origin: right;
   transition:  transform .5s;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
nav ul li a:after{
    content: '';
    background: #262626;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition:  transform .5s;
 }
 nav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right;
 }


.table{
   background-color: aliceblue;
} 
.mt-5{
    margin-top:5px;
}
.ml-5{
    margin-left:5px;
}
.mr-5{
    margin-right:5px;
}
.mb-5{
    margin-bottom:5px;
}

nav {
    background-color:#fff;
}
nav ul li a.dropdown-item{
    font-size: 10px;
    line-height: 40px;
}
nav ul li a.nav_top{
    color: black;
}
.header {
    height:300px;
}
.card {
    height: 750px;
    /*border: 2px solid black;*/
}
.card-header {
    border: 1px solid black;
}

.table{
    border-radius: 10px;
    color: black;
}
table thead {
    background-color:  #6c7ae0;
    color: #fff;
}
table tbody {
    background-color: #fff;
}

/* Footer */
#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}