
.text-answers 
{
  display: flex;
  justify-content: center;
  margin: auto;
}
.text-answers input
{
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 25vh;
  border-color: #10455B;
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0;
  font-size: 5vh;
  color: hsl(0, 0%, 13%)
}
.btn-info
{
  width:30vw;
  border-radius: 4px;
  height: 12vh;
  font-size: 7vw;
}

body {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.question {
    background-image: url('../img/top2.svg');
    height: auto;
    border-bottom: 1.5px solid yellowgreen;
}
.question p {
    font-size: 39px;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 15px;
}

.content {
    position: relative;
    height: 380px;
    padding-top: 40px;
}
.background-layer {
     background: url('../img/pattern.svg');
}
.btn-primary {
    width: 80px;
    height: 38px;
    font-size: 16px;
    margin-right: 17px;
    font-weight: bold;
}
.answerA, .answerB, .answerC, .answerD {
    height: 80px;
    margin-bottom: 13px;
    border-radius: 10px;
}
.answerA:hover, .answerB:hover, .answerC:hover, .answerD:hover {
    opacity: 0.8;
}
.answerA:active, .answerB:active, .answerC:active, .answerD:active {
    background-color: currentColor;
}
.icon {
    color: #fff;
    font-size: 42px;
    position: relative;
    top: -10px;
    left: 26px;
}
.post-answer {
    padding-right: 0;
    margin-top: 31px;
}
.answerA {
    background: #e21b3c;
}
.answerB {
    background: #3981d6;

}
.answerC {
    background: #d89e00;
    margin-right: 15px;
}
.answerD {
    background: #298f0d;
    margin-right: 15px;
}
.answers {
    font-size: 20px;
    color: #fff;
    font-size: 26px;
    position: relative;
    top: -15px;
    left: 40px;
}
/*question-picture*/
.answer .icon {
    position: relative;
}
.post-answer {
    padding-right: 0;
}
.answerA, .btn-question:nth-child(1) {
    background: #e21b3c;
}
.answerB, .btn-question:nth-child(2) {
    background: #3981d6;
}
.answerC, .btn-question:nth-child(3) {
    background: #d89e00;
}
.answerD, .btn-question:nth-child(4) {
    background: #298f0d;
}
.answers-picture {
    font-size: 20px;
    color: #fff;
    font-size: 26px;
    position: relative;
    top: 6px;
    left: 40px;
}
.post-question {
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align:top;
}
.bg-question {
    width: 100%;
    height: 100%;
    background-image: url('../img/demo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: 100px;
}
.btn-question {
    width: 50%;
    height: 50%;
    float: left;
    border: none;
    outline: none;
}
.team-answer {
    position: relative;
    top: 110px;
    left: 39px;
    /* text-align: center; */
}
.count-team-answer, .fixed-answer {
    color: hsl(0, 0%, 45%);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin-bottom: -5px;

}
/* countdown clock */
.clock-time p {
    margin-left: 41px;
    font-size: 4em;
    font-family: courier;
}

.clock-time ul {
    /* margin: -14px; */
    margin-left: 0px;
    font-size: 2em;
    font-family: courier;
}

.clock-time li {     display: inline-block;     margin: 0 5px 0;     color:
white;     background-color: black;     border-radius: 50px;     width: 70px;
height: 70px;     line-height: 70px;     text-align: center;     cursor:
pointer; }  .item label {     -moz-border-radius: 5px;     -ms-border-radius:
5px;     /* -webkit-transition: all .3s cubic-bezier(.77,0,.175,1); */
-moz-transition: all .3s cubic-bezier(.77,0,.175,1);     -ms-transition: all
.3s cubic-bezier(.77,0,.175,1);     -o-transition: all .3s cubic-
bezier(.77,0,.175,1);     transition: all .3s cubic-bezier(.77,0,.175,1);
position: relative;     font-size: 15px;     font-size: 0.9375rem;     color:
#777;     cursor: pointer;     width: 100%;     height: auto; }
input[type=radio], input[type=checkbox] {     visibility: hidden; }
input[type=checkbox]:not(old):checked+label:before, .item
input[type=checkbox]:not(old):checked+span+label:before, .item
input[type=radio]:not(old):checked+label:before, .item
input[type=radio]:not(old):checked+span+label:before {font-family:
fontello;content: "\e81b";position: absolute;right: 9px;top: -13px;font-size: 24px;font-size: 1.5rem;color: gold;} 

/*count down*/

button {
  font-family: 'Arima Madurai', cursive;
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 0px;
  background-color: inherit;
  outline: none;
  color: inherit;
}

span.icon-new {
    color: white;
    font-size: 46px;
}
.top-bar {
  width: 100%;
  overflow: auto;
  background-color: #222222;
  color: #F1FAEE;
}
.bar {
  float: left;
  width: 50%;
  height: 170px;
}
.bar h1.bar-heading {
  padding: 5px 0px;
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  background-color: #222222;
  color: white;
}
#left-bar {
  border-right : 2px solid #222222;
}
#right-bar {
  border-left: 2px solid #222222;
}
.set-time {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  font-weight: normal;
}
.set-time > * {
  height: 100px;
  float: left;
  padding-top: 30px;
  text-align: center;
  background-color: #214B63;
}
.set-time button.icon {
  width: 25%;
  padding-top: 0px;
  background-color: #0B3954;
}
.set-time button.icon:hover{
  background-color: #092A3E;
}
.set-time h1.time {
  width: 50%;
}

.clock {
  width: 220px;
  margin: 30px auto 20px auto;
  height: 220px;
  background-color: #0B3954;
  position: relative;
  border-radius: 50%;
  z-index: 13;
  /* outline: 2px solid #66C7F4; */
  /*box-shadow: 1px #fff inset;*/
}
.clock:hover {
  cursor: pointer;
}
.timer {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  z-index: 233;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #222222;
}
.timer:hover {
  background-color: #092A3E;
}
.timer h1#countdown {
  width: 100%;
  font-size: 3.5em;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
}
.timer h1#countdown-heading {
  width: 100%;
  font-size: 1.8em;
  font-weight: bolder;
  position: absolute;
  top: 22%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
}
.reset {
  width: 150px;
  margin: 20px auto 0px auto;
  background-color: #0B3954;
  font-weight: normal;
  padding: 10px;
  border-radius: 20px;
}
.reset button {
  font-size: 1em;
}
.reset:hover{
  cursor: pointer;
  background-color: #470024;
}

button#next-show {
    position: relative;
    left: 110px;
    bottom: 10px;
}

footer {
  margin: 20px 0px;
  text-align: center;
}
footer h5 a {
  color: #0B3954;
}
footer h5 i.fa {
  padding-left: 5px;
}
h5#footer-title {
  margin-bottom: 10px;
  font-weight: normal;
  font-style: Ariel serif;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 200%;
    padding-left: 60px;
    height: 320px;
    object-fit: cover;
}
#show-answer {
    color: red;
    background: beige;
    width: 100%;
    height: 300px;
    text-align: center;
    font-weight: bolder;
    padding-top: 120px;
    font-size: 34px;
    border-radius: 50px;
    margin-left: 80px;
    transition: all 0.5s 0.4s ease-in;
    transform: rotate(360deg);
}
/*Resonsive mobile , table */
@media only screen and (min-width:320px) and (max-width:767px) {     
    .content {
        padding-top: 0; 
        height: auto;
    }
    .answerA, .answerB, .answerC, .answerD {
        height: 32vh;
        margin-bottom: 10px;
        border-radius: 7px;
        margin-left: -5px;
        text-align: center;
    }     
    .icon {
        font-size: 59px;
        position: relative;
        top: 7vh;
        left: 0px;
        text-align: center;
    } 
    .clock {
        width: 100px;
        height: 100px;  
        margin: 20px auto 0px auto;
    }
    .timer {
        width:80px; 
        height: 80px;
    }
    .timer h1#countdown {
        width: 107%;
        font-size: 1.6em;
        bottom: -6%;
        left: 50%;
    }
    .timer h1#countdown-heading {
        width: 100%;
        font-size: 0.8em;
        top: 7%;
        left: 50%;      
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .answerA, .answerB, .answerC, .answerD {
        height: 33vh;
        margin-bottom: 10px;
        border-radius: 7px;
        margin-left: -3px;
        text-align: center;
    }     
    .icon {
        font-size: 130px;
        position: relative;
        text-align: center;
        left: -4px;
        top: 62px;
    } 
    .clock {
        margin: 20px auto 0px auto;
        position: relative;
    }
    .content {
        position: relative;
        height: 250px;
        padding-top: 5px;
    }
} 
