<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- inject:css -->
  <% include ./partials/css %>
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="admin">
          <img src="#" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="admin">
          <img src="#" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Admin</span>
              <img class="img-xs rounded-circle" src="/adminpage/img/faces/face1.jpg" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item mt-2">
                Manage Accounts
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
   
      <div class="main-panel" style="width: 100%">
        <div class="content-wrapper">
          <!-- Controler -->
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-timer text-primary icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Timer</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">time</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-timer mr-1" aria-hidden="true"></i> Timer control
                  </p>
                  <button type="button" id ="btnTimer" class="btn btn-danger">Start</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-comment-question text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Question</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0" id="currentquestion">Câu hỏi demo 1</h3>
                        
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-comment-question mr-1" aria-hidden="true"></i> Questions controls
                  </p>
                  <button type="button" id ="btnPrev" class="btn btn-primary">Prevs</button>
                  <button type="button" id ="btnNext" class="btn btn-primary">Next</button>
                  <button type="button" id ="btnShowQuestion" class="btn btn-success">Show</button>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Players</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">passed condition</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mb-0 mt-3">
                    <i class="mdi mdi-account-location mr-1" aria-hidden="true"></i> Level up for players
                  </p>
                  <button type="button" id ="btnLevelUp" class="btn btn-success">Level Up</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-monitor text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">Led 1</h3> 
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-5 mb-0">
                    <i class="mdi mdi-monitor mr-1" aria-hidden="true"></i> Show answer middle led
                  </p>
                  <button type="button" id ="btnShowAnswerMiddleled" class="btn btn-success " style="">Show answer</button>
                  <button type="button" id ="btnShowSupportMiddleled" class="btn btn-danger " style="">Show "Cứu trợ"</button>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-monitor-multiple icon-lg " style="color: #2BBBAD"></i>
                    </div>
                    <div class="float-right">
                      <div class="fluid-container">
                        <h3 class="font-weight-medium text-right mb-0">Led 2 3</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-5 mb-0">
                    <i class="mdi mdi-monitor-multiple mr-1" aria-hidden="true"></i> Show player right & player wrong at led 2 3
                  </p>
                  <button type="button" id ="btnShowResult" class="btn btn-primary">Check Result</button>
                  <button type="button" id ="btnShowOptionOfPlayer" class="btn btn-danger">Show Option</button>
                  <button type="button" id ="btnRefreshInfoPlayer" class="btn btn-info">Refresh Info</button>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div>List players that level UP: </div>
                      <input type="text" id="listPlayerLevelUp">                              
                      <button type="button" id ="submitListPlayerLevelUp" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div>List players that level DOWN: </div>
                      <input type="text" id="listPlayerLevelDown">                              
                      <button type="button" id ="submitListPlayerLevelDown" class="btn btn-danger">Submit</button>
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
          </div>
          <!-- End Controler -->
          <!-- Table-->
          <div class="row">            
            <!-- Connection -->
            <div class="col-lg-12 grid-margin clearfix">
              <div class="card">
                <div class="card-body clearfix">
                  <div class="float-left">
                    <h4 class="card-title">
                        <i class="mdi mdi-access-point-network text-primary icon-lg">Connection</i>
                    </h4>
                  </div>
                  <div class="float-right">
                    <button class="btn btn-success" id ="btnShowInfoAfterGet"data-toggle="modal" data-target="#">
                      Show info after get
                    </button>
                    <button class="btn btn-circle btn-danger" id ="btnGetSocketIDs"data-toggle="modal" data-target="#">
                      Get info about refsocketids
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr class="text-center font-weight-medium">
                          <th>#</th>
                          <th>Name</th>
                          <th>SocketID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i = 1; i <= 30; i++) { %>
                          <tr class="text-center">
                            <td><%- i %></td>
                            <td id="player<%- i %>"></td>
                            <td id="socketplayer<%- i %>"></td>
                          </tr>
                        <% } %>
                        
                          <tr class="text-center">
                            <td>31</td>
                            <td id="admin">admin</td>
                            <td id="socketadmin"></td>
                          </tr>
                          <tr class="text-center">
                            <td>32</td>
                            <td id="middleled">middleled</td>
                            <td id="socketmiddleled"></td>
                          </tr>
                          <tr class="text-center">
                            <td>33</td>
                            <td id="sideled1">sideled1</td>
                            <td id="socketsideled1"></td>
                          </tr>
                          <tr class="text-center">
                            <td>34</td>
                            <td id="sideled2">sideled2</td>
                            <td id="socketsideled2"></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Connection -->

          </div>
          <!-- End Table-->

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <% include ./models/_footer.ejs%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- Custom js for this page-->
  <% include ./partials/scripts %>
  <!-- End custom js for this page-->
  <script src="/adminpage/js/sb-admin-2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>          
    <script>
        let socket = io.connect('<%- domain %>');

        // send signal to server
        $("#btnNext").click(function(){
            socket.emit('admin-send-nextquestion','next question');
        })   

        $("#btnPrev").click(function(){
            socket.emit('admin-send-previousquestion','previous question');            
        })

        $("#btnTimer").click(function(){            
            socket.emit('admin-send-starttimer','timer start');
        })

        $("#btnShowAnswerMiddleled").click(function(){
            socket.emit('admin-send-showanswer','show answer');
        })

        $('#btnShowQuestion').click(function(){
          socket.emit('admin-send-showquestion','show question');
        })

        $('#btnShowOptionOfPlayer').click(function(){
          socket.emit('admin-send-show-option', 'show option of players');
        })

        $("#btnShowInfoAfterGet").click(function(){
            // delete old data in the screen
            $("#admin").text('admin disconnected');
            $("#middleled").text('middleled disconnected');
            $("#sideled1").text('sideled1 disconnected');
            $("#sideled2").text('sideled2 disconnected');
            <% for (let i = 1; i <= 30; i++) { %>
              $("#player<%- i %>").text('player<%- i %> disconnected');
              $("#socketplayer<%- i %>").text(' ');
            <% } %>
            
            $("#socketadmin").text(' ');
            $("#socketmiddleled").text(' ');
            $("#socketsideled1").text(' ');
            $("#socketsideled2").text(' ');
            
            // send signal to server for get new data
            socket.emit('admin-send-showinfoafterget','Show information after get it model refsocketids');
        })        

        $("#btnGetSocketIDs").click(function(){
            socket.emit('admin-send-letgetinformation','get information about refsocketids');
        })                        

        $("#btnRefreshInfoPlayer").click(function(){
          socket.emit('admin-send-refresh-info', 'Refresh Info Player');
        })

        $("#btnShowResult").click(function(){
          socket.emit('admin-send-check-result','Show result of players that who right & who wrong');
        })

        $('#submitListPlayerLevelUp').click(function(){
          let data = listPlayerLevelUp.value;            
          $("#listPlayerLevelUp").val("");
          socket.emit('admin-send-ListPlayerLevelUp', data);
        })

        $('#submitListPlayerLevelDown').click(function(){
          let data = listPlayerLevelDown.value;            
          $("#listPlayerLevelDown").val("");
          socket.emit('admin-send-ListPlayerLevelDown', data);
        })

        $('#btnLevelUp').click(function(){
          socket.emit('admin-send-levelUpCondition', 'level up for players passed condition');
        })

        $('#btnShowSupportMiddleled').click(function(){
          socket.emit('admin-send-show-help','support for players');
        })

        // receive signal from server
        socket.on('server-send-ACKquestion', function(data){
            $("#currentquestion").text(data);
        })

        socket.on('server-send-getinformation', function(data){
            data = socket.id + ',admin';
            socket.emit('client-send-information', data);
        })

        socket.on('server-send-information-refsocketids', function(data){                        
            var content = data.split(",");
            var virtualName = "#" + content[0];
            var virtualSocketId = "#socket" + content[0];
            $(virtualName).text(content[0]);
            $(virtualSocketId).text(content[1]);
        })

        socket.on('server-send-error', function(data){
          alert(data);
        })
    </script>        
</body>

</html>