<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin</title>
    <!-- inject:css -->
    <% include ./partials/css %>
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
        >
          <a class="navbar-brand brand-logo" href="admin">
            <img src="#" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="admin">
            <img src="#" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="UserDropdown"
                href="#"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="profile-text">Admin</span>
                <img
                  class="img-xs rounded-circle"
                  src="/adminpage/img/faces/face1.jpg"
                  alt="Profile image"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="UserDropdown"
              >
                <a class="dropdown-item mt-2">
                  Manage Accounts
                </a>
                <a class="dropdown-item">
                  Change Password
                </a>
                <a class="dropdown-item">
                  Check Inbox
                </a>
                <a class="dropdown-item">
                  Sign Out
                </a>
              </div>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width: 100%">
          <div class="content-wrapper">
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-2 text-gray-800">Tables</h1>
              <p class="mb-4">
                DataTables is a third party plugin that is used to generate the
                demo table below. For more information about DataTables, please
                visit the
                <a target="_blank" href="https://datatables.net"
                  >official DataTables documentation</a
                >.
              </p>

              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    DataTables Example
                  </h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-bordered"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>Câu hỏi</th>
                          <th>opionA</th>
                          <th>optionB</th>
                          <th>optionC</th>
                          <th>optionD</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% questions.map(item => { %>
                        <tr>
                          <td><%- item.content %></td>
                          <td><%- item.optionA %></td>
                          <td><%- item.optionB %></td>
                          <td><%- item.optionC %></td>
                          <td><%- item.optionD %></td>
                          <td>
                            <button onclick="showQuestion('<%- item._id %>')">
                              Hiển thị
                            </button>
                            <button onclick="showAnswer('<%- item._id %>')">
                              Hiện đáp án
                            </button>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <% include ./models/_footer.ejs%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Custom js for this page-->
    <% include ./partials/scripts %>
    <!-- End custom js for this page-->
    <script src="/adminpage/js/sb-admin-2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>          
    <script>
      let socket = io.connect("<%- domain %>");
      function showQuestion(id) {
        $.ajax({
          url: `/admin/questions/${id}`,
          method: "POST"
        });
      }

      function showAnswer(id) {
        console.log(id);
        socket.emit("admin-send-showanswer", id);
      }
    </script>
  </body>
</html>
