
.title
{
  color:#ffffff;
  background: deepskyblue;
  border-radius: 0.75rem;
  box-shadow: 0px 1px 3px 0px;
  display: flex; 
  justify-content: center; 
  align-content: center;
}
.title h3
{
  color: #ffffff;
  font-size: 6em; 
  font-weight: 900;
}
.card 
{
  background: dodgerblue;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 3px 0px;
  display: flex;
  align-items: center;  
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  height: 10em;
}
.card > div
{
  font-size: 3.5em; 
  color: white;
}
.card .lives
{
  display: flex;
}
.lives p
{
  font-weight: 900;
  font-size: 3.5em;
  margin:0px 0px 30px 5px;
}
.card img 
{
  width: 3em;
  height: 4em;
}
