<!-- COMMON SCRIPTS -->
<script src="/homepage/js/jquery-2.2.4.min.js"></script>
<script src="/homepage/js/common_scripts.min.js"></script>
<script src="/homepage/js/menu.js"></script>
<script src="/homepage/js/main.js"></script>
<script src="/homepage/js/wizard_func_multiple_branch.js"></script>
