<!DOCTYPE html>
<html lang="en">
  <% include ./partials/css%> <% include ./partials/scripts%>

  <body>
    <div class="container-fluid">
      <div class="row question hidden-xs hidden-sm hidden-md">
        <div class="col-md-12 hidden-xs">
          <div id="question" class="text-center">
            Which Apollo mission was the first one the land on the moon ?
          </div>
        </div>
      </div>
      <!-- end row question -->
      <div class="background-layer">
        <div class="row content">
          <div class="col-md-3 clock-time">
            <div class="clock">
              <div class="timer" onclick="timerClick()">
                <h1 id="countdown-heading">Time</h1>
                <h1 id="countdown">5</h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 post-content hidden-xs hidden-sm hidden-md">
            <img
              id="imageframe"
              src="/homepage/img/bien_dao1.jpg"
              alt=""
              class="img-responsive"
              s
            />
            <audio id="audioframe" controls>
              <source
                src="/adminpage/middleledpage/audio/question5.mp3"
                type="audio/mp3"
              />
            </audio>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm hidden-md">
            <div class="team-answer">
              <div id="questionId" class="count-team-answer">Câu ...</div>
              <div id="answer" class="fixed-answer">Answer</div>
            </div>
          </div>
        </div>
        <!-- end row content -->
        <div class="row answer">
          <div class="col-xs-6 col-md-6 post-answer">
            <div id="lblOptionA" class="item">
              <div class="answerA">
                <input
                  id="answer_1"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_1">
                  <span class="icon"><i class="fas fa-circle"></i></span>
                  <span
                    id="optionA"
                    class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo1</span
                  >
                </label>
              </div>
            </div>
            <div id="lblOptionB" class="item">
              <div class="answerB">
                <input
                  id="answer_2"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_2">
                  <span class="icon"><i class="fa fa-square"></i></span>
                  <span
                    id="optionB"
                    class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo2</span
                  >
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 post-answer">
            <div id="lblOptionC" class="item">
              <div class="answerC">
                <input
                  id="answer_3"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_3">
                  <span class="icon"><i class="fas fa-apple-alt"></i></span>
                  <span
                    id="optionC"
                    class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo3</span
                  >
                </label>
              </div>
            </div>
            <div class="item">
              <div id="lblOptionD" class="answerD">
                <input
                  id="answer_4"
                  name="answers_1[]"
                  type="radio"
                  value="Web-Development"
                  class="required"
                />
                <label for="answer_4">
                  <span class="icon"><i class="fas fa-mountain"></i></span>
                  <span
                    id="optionD"
                    class="answers hidden-xs hidden-sm hidden-md"
                    >Apolo4</span
                  >
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- end row answer
		 -->
      </div>
      <!-- end background layer -->
      <div class="col-xs-12 col-sm-12 text-center">
        <div class="text-answers">
          <input type="text" id="text-option" placeholder="Your answer..." />
        </div>
        <!-- end text question -->
        <div class="row submit">
          <div class="col-xs-12 col-sm-12 hidden-lg text-center">
            <button class="btn-info">Submit</button>
          </div>
        </div>
      </div>
      <!-- submit button -->
    </div>
    <!-- end container-fluid -->

    <script src="/adminpage/js/sb-admin-2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io.connect("<%- domain %>");

      // receive signal from server
      socket.on("server-send-getinformation", function(data) {
        data = socket.id + ",middleled";
        socket.emit("client-send-information", data);
      });

      socket.on("server-send-question", function(data) {
        $("#text-option").hide();

        let content = data.split("#");
        $("#question").text(content[2]);
        $("#questionId").text(content[1]);
        $("#answer").text("");
        $("#countdown").text("5");

        // Change img.src if the question have an image
        if (content[7] != "<blank>") {
          $("#imageframe").show();
          $("#imageframe").attr("src", content[7]);
        } else {
          $("#imageframe").hide();
        }

        // Change audio.src if the question have an image
        if (content[8] != "<blank>") {
          $("#audioframe").show();
          $("#audioframe").attr("src", content[8]);
        } else {
          $("#audioframe").hide();
        }

        // Show option if question type is "tracnghiem"
        if (content[0] === "tracnghiem") {
          $("#lblOptionA").show();
          $("#lblOptionB").show();
          $("#lblOptionC").show();
          $("#lblOptionD").show();

          $("#optionA").text(content[3]);
          $("#optionB").text(content[4]);
          $("#optionC").text(content[5]);
          $("#optionD").text(content[6]);
        } else {
          $("#lblOptionA").hide();
          $("#lblOptionB").hide();
          $("#lblOptionC").hide();
          $("#lblOptionD").hide();
        }
      });

      socket.on("server-send-showanswer", function(data) {
        $("#answer").text("answer: " + data);
      });

      socket.on("starttimer", function(data) {
        let countdown = 5;
        let runTimer = setInterval(function() {
          countdown = countdown - 1;
          $("#countdown").text(countdown);

          if (countdown < 1) {
            clearInterval(runTimer);
          }
        }, 1000);
      });

      socket.on("stoptimer", function(data) {
        alert(data);
      });

      socket.on("server-send-supportPlayers", function(data) {
        alert(data);
      });
    </script>
  </body>
</html>
