<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website thi trắc nghiệm</title>
    <!-- Bootstrap -->
    <link rel="icon" href="">
    <!-- Linearicons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- Open San google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900i" rel="stylesheet">
    <!-- USE font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--  frame bootstrap -->
    <link href="/homepage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/homepage/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">
    <!-- link style.css -->
    <link rel="stylesheet" href="/homepage/css/style1.css">
</head>