<!-- Custom fonts for this template-->
<link href="/adminpage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/adminpage/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/adminpage/css/sb-admin-2.min.css" rel="stylesheet">

<link href="/adminpage/css/sb-admin-custom.css" rel="stylesheet">

