<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <% include ./adminpage/partials/css %>
  <% include ./adminpage/partials/scripts %>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
          <div class="nav-item logo resp">LOGO</div>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto ">

            <li class="nav-item mx-1">
              <a class="nav_top nav-link" href="#">Home</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav_top nav-link" href="#">Display</a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="header">
            <h1 class="h3 mb-2 text-gray-800 text-center">ADMIN</h1>
          </div>

          <!-- Question -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 mb-2">
              <h6 class="m-0 font-weight-bold text-primary">Question</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">QuestionID</th>
                      <th class="text-center">Content</th>
                      <th class="text-center">Type</th>
                      <th class="text-center">Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>1</td>
                      <td>This is content of question number 1</td>
                      <td>Tracnghiem</td>
                      <td>A</td>
                    </tr>
                    <tr class="text-center">
                      <td>2</td>
                      <td>This is content of question number 2</td>
                      <td>Tracnghiem</td>
                      <td>A</td>
                    </tr>
                    <tr class="text-center">
                      <td>3</td>
                      <td>This is content of question number 3</td>
                      <td>Tracnghiem</td>
                      <td>B</td>
                    </tr>
                    <tr class="text-center">
                      <td>4</td>
                      <td>This is content of question number 4</td>
                      <td>Tuluan</td>
                      <td>bien dao</td>
                    </tr>
                  </tbody>
                </table>

                <div class="float-right">
                  <a class="ml-2 btn btn-primary" href="#" role="button">Prevs</a>
                  <a class="btn btn-secondary" href="#" role="button">Next</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Player Information</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Password</th>
                      <th class="text-center">Lives</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>Player1</td>
                      <td>pass1</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player2</td>
                      <td>pass2</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player3</td>
                      <td>pass3</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player4</td>
                      <td>pass4</td>
                      <td>3</td>
                      <td>Offline</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player5</td>
                      <td>pass5</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player6</td>
                      <td>pass6</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player7</td>
                      <td>pass7</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player8</td>
                      <td>pass8</td>
                      <td>3</td>
                      <td>Offline</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td>Player9</td>
                      <td>pass9</td>
                      <td>3</td>
                      <td>Online</td>
                      <td>
                        <button onclick="" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-minus-square " aria-hidden="true"></i>
                        </button>
                        <button onclick="" type="button" class="btn btn-sm btn-primary">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer id="myFooter">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3">
                      <h5>Get started</h5>
                      <ul> 
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Sign up</a></li>
                          <li><a href="#">Downloads</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3">
                      <h5>About us</h5>
                      <ul>
                          <li><a href="#">Company Information</a></li>
                          <li><a href="#">Contact us</a></li>
                          <li><a href="#">Reviews</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3">
                      <h5>Support</h5>
                      <ul>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Help desk</a></li>
                          <li><a href="#">Forums</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3 info">
                      <h5>Information</h5>
                      <p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                  </div>
              </div>
          </div>
          <div class="second-bar">
             <div class="container">
                  <h2 class="logo"><a href="#"> LOGO </a></h2>
                  <div class="social-icons">
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                  </div>
              </div>
          </div>
      </footer>
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="admin/users/login">Logout</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>