<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Player Position</title>
	<!--Link-->
	<% include ./partials/css %>
	<link rel="stylesheet" type="text/css" href="/homepage/position/playerMap.css">
</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<main>
		<div class="container">
			<div id="wizard_container">
				<form name="example-1" id="wrapped" method="POST">
					<input id="website" name="website" type="text" value="">
					<!-- Leave input above for security protection, read docs for details -->
					<div id="middle-wizard">
						<!--Players Position ============================== -->

						<div class="title">
							<div class="row">
								<div class="col">
									<h3>Players Position</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2  col-md-4 col-sm-12">
								<div class="card">
									<div id="Player1">Player1</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player2">Player2</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player3">Player3</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player4">Player4</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player5">Player5</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player6">Player6</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
						</div>
						<!-- /row 1-->

						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player7">Player7</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player8">Player8</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player9">Player9</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player10">Player10</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player11">Player11</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player12">Player12</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
						</div>
						<!-- /row 2-->
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player13">Player13</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player14">Player14</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player15">Player15</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player16">Player16</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player17">Player17</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player18">Player18</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
						</div>

						<!-- /row 3-->
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player19">Player19</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player20">Player20</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player21">Player21</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player22">Player22</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player23">Player23</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player24">Player24</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
						</div>

						<!-- /row 4-->
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player25">Player25</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player26">Player26</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player27">Player27</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player28">Player28</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12">
								<div class="card">
									<div id="Player29">Player29</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-12	">
								<div class="card">
									<div id="Player30">Player30</div>
									<span>
										<div class="lives"><img src="/homepage/position/like (1).svg" alt="Lives">
											<p style="  font-size: 30px; margin-left: 5px ">x</p>
										</div>
									</span>
								</div>
							</div>
						</div>
						<!-- /row 5-->

						<!-- /Players Position ============================== -->

					</div>
					<!-- /Container -->
	</main>
	<!-- /main -->

	<!-- /Modal terms -->
	<% include ./partials/scripts %>
	
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io.connect("<%- domain %>");


  // receive signal from server
  socket.on("server-send-options", (data) => {
	 try {
		 console.log(JSON.parse(data))
	 } catch (error) {
		 
	 }
  });

  socket.on("server-send-check-result", (data) => {
	 try {
		 console.log(JSON.parse(data))
	 } catch (error) {
		 
	 }
  });


  socket.on("server-send-refresh-info", (data) => {
	 try {
		 console.log(JSON.parse(data))
	 } catch (error) {
		 
	 }
  });

</script>

</html>