<!-- plugins:css -->
<link rel="stylesheet" href="/adminpage/vendor/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/adminpage/vendor/fontawesome-free/css/all.min.css" >
<link rel="stylesheet" href="/adminpage/vendor/css/bootstrap.min.css">
<link rel="stylesheet" href="/adminpage/vendor/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/adminpage/vendor/css/vendor.bundle.addons.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="/adminpage/css/style.css">
<!-- End plugin css for this page -->
