<!-- Bootstrap core JavaScript-->
<script src="/adminpage/vendor/jquery/jquery.js"></script>
<script src="/adminpage/vendor/jquery/jquery.min.js"></script>
<script src="/adminpage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- plugins:js -->
<script src="/adminpage/vendor/js/vendor.bundle.base.js"></script>
<script src="/adminpage/vendor/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->

<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/adminpage/js/off-canvas.js"></script>
<script src="/adminpage/js/misc.js"></script>
<!-- endinject -->
